<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="v2_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="j21">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j21']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j22">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j22']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j23">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j23']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j24">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j24']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j25">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j25']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j26">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j26']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j27">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j27']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="f28">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['f28']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j11">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j11']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j12">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j12']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j13">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j13']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j14">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j14']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j15">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j15']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j16">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j16']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j17">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j17']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="f18">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['f18']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j31">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j31']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j_32">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j_32']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
