/build/
/install/
/log/
/colcon/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
__pycache__/
*.pyc
*.rviz
*.db
moc_*.cpp
moc_*.h
*.moc
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.~*
*.bak
*.old
*.orig
*.tmp
.overlay
.env
*.env
*.launch.py~
*.params.yaml~
!.gitkeep
