<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="v2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0037771 3.8856E-05 -0.17267"
        rpy="0 0 0" />
      <mass
        value="5.9028" />
      <inertia
        ixx="0.22527"
        ixy="1.3971E-05"
        ixz="-0.004597"
        iyy="0.17962"
        iyz="8.0187E-06"
        izz="0.082972" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_shoulder_1">
    <inertial>
      <origin
        xyz="-0.0049822 0.013762 -0.058758"
        rpy="0 0 0" />
      <mass
        value="0.35875" />
      <inertia
        ixx="0.0010442"
        ixy="2.4405E-07"
        ixz="-2.1271E-06"
        iyy="0.00047266"
        iyz="2.8119E-05"
        izz="0.00089865" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_shoulder_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_shoulder_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j11"
    type="revolute">
    <origin
      xyz="0 -0.20624 -0.01225"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="right_shoulder_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.571"
      upper="1.571"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_shoulder_2">
    <inertial>
      <origin
        xyz="-6.7333E-05 -0.017813 -0.0026486"
        rpy="0 0 0" />
      <mass
        value="0.078897" />
      <inertia
        ixx="2.497E-05"
        ixy="-6.2989E-09"
        ixz="1.2978E-09"
        iyy="1.4949E-05"
        iyz="2.1125E-06"
        izz="2.569E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_shoulder_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_shoulder_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j12"
    type="revolute">
    <origin
      xyz="0 0.00032462 -0.09703"
      rpy="-1.5708 -1.5702 1.5708" />
    <parent
      link="right_shoulder_1" />
    <child
      link="right_shoulder_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.269"
      upper="0.105"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_shoulder_3">
    <inertial>
      <origin
        xyz="0.000430538533339558 -0.10989484379475 0.00039376686451259"
        rpy="0 0 0" />
      <mass
        value="0.401304711733058" />
      <inertia
        ixx="0.000940756478824968"
        ixy="1.37524263288344E-05"
        ixz="1.53360999683372E-05"
        iyy="0.000500470037667197"
        iyz="-4.6020152042414E-06"
        izz="0.00103062975769565" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_shoulder_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.937254901960784 0.137254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_shoulder_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j13"
    type="revolute">
    <origin
      xyz="-0.00019732 -0.055206 0.007975"
      rpy="0.0012787 1.5708 0" />
    <parent
      link="right_shoulder_2" />
    <child
      link="right_shoulder_3" />
    <axis
      xyz="0 1 -0.0012787" />
    <limit
      lower="-1.571"
      upper="1.571"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_elbow_1">
    <inertial>
      <origin
        xyz="-0.00792320324130652 0.0623876111862141 0.00257307538195969"
        rpy="0 0 0" />
      <mass
        value="0.164684761985467" />
      <inertia
        ixx="0.000106256561260847"
        ixy="4.7039780929201E-06"
        ixz="-3.00035215103308E-06"
        iyy="0.00015728697133276"
        iyz="4.71524017711665E-07"
        izz="0.000136959067816747" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_elbow_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_elbow_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j14"
    type="revolute">
    <origin
      xyz="0.000100000000253023 -0.224696856366736 0"
      rpy="1.5707963267949 -1.56951766231018 1.5707963267949" />
    <parent
      link="right_shoulder_3" />
    <child
      link="right_elbow_1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.0472"
      upper="1.309"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_elbow_2">
    <inertial>
      <origin
        xyz="0.000818776337657368 0.0816791783317226 -0.000857055152947176"
        rpy="0 0 0" />
      <mass
        value="0.237392410184954" />
      <inertia
        ixx="0.00029631991266006"
        ixy="-1.52424559373505E-07"
        ixz="1.45928172280864E-07"
        iyy="0.000157802454768554"
        iyz="-2.71641904581851E-06"
        izz="0.000298542787196087" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_elbow_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_elbow_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j15"
    type="revolute">
    <origin
      xyz="-1.8372E-05 0.10199 0.00019732"
      rpy="3.1416 0 3.1416" />
    <parent
      link="right_elbow_1" />
    <child
      link="right_elbow_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_wrist_1">
    <inertial>
      <origin
        xyz="-0.0036342 -0.022254 0.0036342"
        rpy="0 0 0" />
      <mass
        value="0.022594" />
      <inertia
        ixx="5.0467E-06"
        ixy="-1.4016E-13"
        ixz="5.6982E-07"
        iyy="2.1464E-06"
        iyz="9.0054E-13"
        izz="5.0143E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_wrist_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_wrist_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j16"
    type="revolute">
    <origin
      xyz="0.00033855 0.14765 0.00049732"
      rpy="0 0 3.141" />
    <parent
      link="right_elbow_2" />
    <child
      link="right_wrist_1" />
    <axis
      xyz="-1 -0.00063933 0" />
    <limit
      lower="-0.95993"
      upper="1.5533"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_wrist_2">
    <inertial>
      <origin
        xyz="0.000439259067153863 -0.0569085161540607 -0.0025094715187342"
        rpy="0 0 0" />
      <mass
        value="0.202984986786786" />
      <inertia
        ixx="0.000118675848405242"
        ixy="7.09790847457528E-08"
        ixz="7.42217450817559E-14"
        iyy="0.000142547035444907"
        iyz="2.12775473155962E-08"
        izz="0.000116701102404344" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_wrist_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_wrist_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j17"
    type="revolute">
    <origin
      xyz="0.00049464 -0.045 -0.00012732"
      rpy="0 0 0" />
    <parent
      link="right_wrist_1" />
    <child
      link="right_wrist_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.571"
      upper="1.571"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_finger_1">
    <inertial>
      <origin
        xyz="-0.012884 0.03412 -0.010912"
        rpy="0 0 0" />
      <mass
        value="0.060902" />
      <inertia
        ixx="4.8202E-05"
        ixy="-3.1741E-07"
        ixz="1.7041E-06"
        iyy="2.319E-05"
        iyz="3.4074E-06"
        izz="3.6768E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_finger_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_finger_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f18"
    type="prismatic">
    <origin
      xyz="-0.047229 -0.0798 0.0128"
      rpy="0 0 3.1416" />
    <parent
      link="right_wrist_2" />
    <child
      link="right_finger_1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0.024"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_finger_2">
    <inertial>
      <origin
        xyz="-0.012884 0.03412 -0.010912"
        rpy="0 0 0" />
      <mass
        value="0.060902" />
      <inertia
        ixx="4.8202E-05"
        ixy="-3.1741E-07"
        ixz="1.7041E-06"
        iyy="2.319E-05"
        iyz="3.4074E-06"
        izz="3.6768E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_finger_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/right_finger_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f19"
    type="prismatic">
    <origin
      xyz="0.048062 -0.0798 -0.0128"
      rpy="3.1416 0 0" />
    <parent
      link="right_wrist_2" />
    <child
      link="right_finger_2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.024"
      upper="0"
      effort="0"
      velocity="0" />
    <mimic
      joint="f18"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="TCP_right">
    <inertial>
      <origin
        xyz="-0.0015672 0.094125 -0.011891"
        rpy="0 0 0" />
      <mass
        value="0.044249" />
      <inertia
        ixx="1.1735E-05"
        ixy="9.3247E-17"
        ixz="5.2439E-15"
        iyy="1.0448E-05"
        iyz="-1.3502E-07"
        izz="6.8411E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/TCP_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/TCP_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f20"
    type="fixed">
    <origin
      xyz="0.0011999 -0.15225 0.0001"
      rpy="0 0 0" />
    <parent
      link="right_wrist_2" />
    <child
      link="TCP_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_shoulder_1">
    <inertial>
      <origin
        xyz="-0.0049857501902087 0.0137524952547104 0.0587572320972712"
        rpy="0 0 0" />
      <mass
        value="0.358782813844843" />
      <inertia
        ixx="0.00104422940437889"
        ixy="2.08051993755647E-07"
        ixz="2.17656866286087E-06"
        iyy="0.000472682880572099"
        iyz="-2.81176059809368E-05"
        izz="0.000898651882511114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_shoulder_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_shoulder_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j21"
    type="revolute">
    <origin
      xyz="0 0.20624 -0.01225"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="left_shoulder_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.571"
      upper="1.571"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_shoulder_2">
    <inertial>
      <origin
        xyz="5.61187468452462E-05 -0.0178134228583 -0.00264857656869752"
        rpy="0 0 0" />
      <mass
        value="0.0788967649028279" />
      <inertia
        ixx="2.49703225893493E-05"
        ixy="1.08156421265975E-10"
        ixz="-5.28232534883046E-11"
        iyy="1.49488268898139E-05"
        iyz="2.11248848525123E-06"
        izz="2.56896410530115E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_shoulder_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_shoulder_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j22"
    type="revolute">
    <origin
      xyz="0 0.00032462 0.09703"
      rpy="0 -1.5708 0" />
    <parent
      link="left_shoulder_1" />
    <child
      link="left_shoulder_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.105"
      upper="2.269"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_shoulder_3">
    <inertial>
      <origin
        xyz="0.00153384059162964 -0.000477788960257259 -0.109902565481454"
        rpy="0 0 0" />
      <mass
        value="0.401297704857678" />
      <inertia
        ixx="0.00103021380160831"
        ixy="-1.53477838772287E-05"
        ixz="-5.015820017537E-06"
        iyy="0.000940323644878223"
        iyz="-1.37514112585448E-05"
        izz="0.000500408380721754" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_shoulder_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_shoulder_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j23"
    type="revolute">
    <origin
      xyz="0.00019732 -0.055203 0.007975"
      rpy="1.5708 0 3.1416" />
    <parent
      link="left_shoulder_2" />
    <child
      link="left_shoulder_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.571"
      upper="1.571"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_elbow_1">
    <inertial>
      <origin
        xyz="0.062383 0.0084098 -0.0024196"
        rpy="0 0 0" />
      <mass
        value="0.16463" />
      <inertia
        ixx="0.00015724"
        ixy="-4.7608E-06"
        ixz="-4.7517E-07"
        iyy="0.00010621"
        iyz="-2.9976E-06"
        izz="0.00013688" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_elbow_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.52941 0.54902 0.54902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_elbow_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j24"
    type="revolute">
    <origin
      xyz="0 -0.0002 -0.2247"
      rpy="1.5708 1.5708 0" />
    <parent
      link="left_shoulder_3" />
    <child
      link="left_elbow_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.0472"
      upper="1.309"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_elbow_2">
    <inertial>
      <origin
        xyz="-0.0011696 0.087127 -0.0016635"
        rpy="0 0 0" />
      <mass
        value="0.24444" />
      <inertia
        ixx="0.00029819"
        ixy="7.2235E-08"
        ixz="-1.4867E-07"
        iyy="0.00015816"
        iyz="-2.72E-06"
        izz="0.00030075" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_elbow_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_elbow_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j25"
    type="revolute">
    <origin
      xyz="0.097585 0.00029732 0.00019732"
      rpy="0 0 -1.5708" />
    <parent
      link="left_elbow_1" />
    <child
      link="left_elbow_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_wrist_1">
    <inertial>
      <origin
        xyz="0.00457723979926472 -0.0165514905545523 -2.35897933851745E-08"
        rpy="0 0 0" />
      <mass
        value="0.0180647810553899" />
      <inertia
        ixx="4.94192902119465E-06"
        ixy="-6.09088191652879E-13"
        ixz="5.69824577833892E-07"
        iyy="2.04164818688616E-06"
        iyz="-9.92920035386434E-13"
        izz="4.81263492770797E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_wrist_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_wrist_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j26"
    type="revolute">
    <origin
      xyz="0 0.15205 -0.00029732"
      rpy="0 0 -3.1416" />
    <parent
      link="left_elbow_2" />
    <child
      link="left_wrist_1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.95993"
      upper="1.5533"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_wrist_2">
    <inertial>
      <origin
        xyz="0.000788979606919149 -0.055666582666037 -0.00218356001111897"
        rpy="0 0 0" />
      <mass
        value="0.207514061526779" />
      <inertia
        ixx="0.00011878063742872"
        ixy="7.09780918245431E-08"
        ixz="-5.34866445799489E-13"
        iyy="0.000142651824468333"
        iyz="2.12781564042283E-08"
        izz="0.000116902776899321" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_wrist_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_wrist_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j27"
    type="revolute">
    <origin
      xyz="0.00012732 -0.045 0"
      rpy="0 0 0" />
    <parent
      link="left_wrist_1" />
    <child
      link="left_wrist_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.571"
      upper="1.571"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_finger_1">
    <inertial>
      <origin
        xyz="-0.0128841580955371 0.0341205748371213 -0.0109116868365215"
        rpy="0 0 0" />
      <mass
        value="0.0609022601784625" />
      <inertia
        ixx="4.82024507201225E-05"
        ixy="-3.17406035690335E-07"
        ixz="1.70407876095633E-06"
        iyy="2.31897350289537E-05"
        iyz="3.40739911357427E-06"
        izz="3.67679961302715E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_finger_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_finger_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f28"
    type="prismatic">
    <origin
      xyz="0.048429 -0.0798 -0.012727"
      rpy="-3.1416 0 0" />
    <parent
      link="left_wrist_2" />
    <child
      link="left_finger_1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.024"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_finger_2">
    <inertial>
      <origin
        xyz="-0.012884 0.034121 -0.010912"
        rpy="0 0 0" />
      <mass
        value="0.060902" />
      <inertia
        ixx="4.8202E-05"
        ixy="-3.1741E-07"
        ixz="1.7041E-06"
        iyy="2.319E-05"
        iyz="3.4074E-06"
        izz="3.6768E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_finger_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/left_finger_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f29"
    type="prismatic">
    <origin
      xyz="-0.046836 -0.0798 0.012673"
      rpy="0 0 3.1416" />
    <parent
      link="left_wrist_2" />
    <child
      link="left_finger_2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="+0.024"
      effort="0"
      velocity="0" />
    <mimic
      joint="f28"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="TCP_Left">
    <inertial>
      <origin
        xyz="-0.0015932 0.084125 -0.011891"
        rpy="0 0 0" />
      <mass
        value="0.044249" />
      <inertia
        ixx="1.1735E-05"
        ixy="9.333E-17"
        ixz="5.2435E-15"
        iyy="1.0448E-05"
        iyz="-1.3502E-07"
        izz="6.8411E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/TCP_Left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/TCP_Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f30"
    type="fixed">
    <origin
      xyz="0.0015932 -0.14225 -2.7322E-05"
      rpy="0 0 0" />
    <parent
      link="left_wrist_2" />
    <child
      link="TCP_Left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="neck_yaw">
    <inertial>
      <origin
        xyz="0.0037771 3.8856E-05 -0.17267"
        rpy="0 0 0" />
      <mass
        value="5.9028" />
      <inertia
        ixx="0.22527"
        ixy="1.3971E-05"
        ixz="-0.004597"
        iyy="0.17962"
        iyz="8.0187E-06"
        izz="0.082972" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/neck_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/neck_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j31"
    type="continuous">
    <origin
      xyz="0.00874999999999426 0 0.148599999999878"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="neck_yaw" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="neck_pitch">
    <inertial>
      <origin
        xyz="0.18995327259288 -0.0131031967427848 0.000890437014171956"
        rpy="0 0 0" />
      <mass
        value="0.787905683224849" />
      <inertia
        ixx="0.00467731270981544"
        ixy="0.000771203389471464"
        ixz="5.00883842325664E-05"
        iyy="0.00873859272883155"
        iyz="4.93815969107255E-05"
        izz="0.00865811113078056" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/neck_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/neck_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j_32"
    type="continuous">
    <origin
      xyz="0 0.030398 0"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="neck_yaw" />
    <child
      link="neck_pitch" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="camera">
    <inertial>
      <origin
        xyz="-0.000478999773069349 2.78432486923164E-05 -0.0125656891446742"
        rpy="0 0 0" />
      <mass
        value="1.2668823887858" />
      <inertia
        ixx="0.000114532673034269"
        ixy="-4.03826831889083E-08"
        ixz="-1.13414879211854E-05"
        iyy="0.000771595759092053"
        iyz="-2.05507807170692E-07"
        izz="0.000763733507848299" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/camera.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://myrobot_description/meshes/camera.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j33"
    type="fixed">
    <origin
      xyz="0.23949 -0.10418 0.0015188"
      rpy="-0.34907 -1.5533 1.3204" />
    <parent
      link="neck_pitch" />
    <child
      link="camera" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>