<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Declare input argument for initial joint positions -->
  <xacro:arg name="initial_positions_file" default="initial_positions.yaml"/>

  <xacro:macro name="myrobot_description_ros2_control"
               params="name initial_positions_file port_name:=/dev/ttyUSB0 use_fake_hardware:=false fake_sensor_commands:=false">

    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>
        <!-- <param name="start_position_controller_from_hardware">true</param> -->
        <param name="use_bulk_read" value="false"/>
        <param name="bulk_read"     value="false"/>
        <param name="port_name">${port_name}</param>
        <param name="baud_rate">4000000</param>
        <param name="error_timeout_sec">0.2</param>
        <param name="dynamixel_model_folder">/param/dxl_model</param>
        <param name="number_of_joints">18</param>
        <param name="number_of_transmissions">18</param>
        <param name="transmission_to_joint_matrix">
          0.25, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, -0.25, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0.25, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, -0.25, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.01553680987, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -0.01553680987
        </param>
        <param name="joint_to_transmission_matrix">
          4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, -4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, -4, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.01553680987, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -0.01553680987
        </param>
        <param name="ros_update_freq">200</param>
        <param name="dynamixel_state_pub_msg_name">dynamixel_hardware_interface/dxl_state</param>
        <param name="get_dynamixel_data_srv_name">dynamixel_hardware_interface/get_dxl_data</param>
        <param name="set_dynamixel_data_srv_name">dynamixel_hardware_interface/set_dxl_data</param>
        <param name="reboot_dxl_srv_name">dynamixel_hardware_interface/reboot_dxl</param>
        <param name="set_dxl_torque_srv_name">dynamixel_hardware_interface/set_dxl_torque</param>
      </hardware>

      <!-- Joint Definitions with initial positions and velocity interfaces -->
      
      <!-- Right Shoulder Joints -->
      <joint name="j11">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j11']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="j12">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j12']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="j13">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j13']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <!-- Right Elbow Joints -->
      <joint name="j14">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j14']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="j15">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j15']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <!-- Right Wrist Joints -->
      <joint name="j16">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j16']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="j17">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j17']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <!-- Left Shoulder Joints -->
      <joint name="j21">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j21']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="j22">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j22']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="j23">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j23']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <!-- Left Elbow Joints -->
      <joint name="j24">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j24']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="j25">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j25']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <!-- Left Wrist Joints -->
      <joint name="j26">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j26']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="j27">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j27']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      
      <!-- Head Joints -->
      <joint name="j31">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j31']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="j32">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j32']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <!-- GRIPPERZZZ -->
      <joint name="f18">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['f18']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="f28">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['f28']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <!-- GPIO Blocks for each dynamixel (IDs 0 to 15 for 16 joints) -->
      <gpio name="dxl1">
        <param name="type">dxl</param>
        <param name="ID">11</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl2">
        <param name="type">dxl</param>
        <param name="ID">12</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl3">
        <param name="type">dxl</param>
        <param name="ID">13</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl4">
        <param name="type">dxl</param>
        <param name="ID">14</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl5">
        <param name="type">dxl</param>
        <param name="ID">15</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl6">
        <param name="type">dxl</param>
        <param name="ID">16</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl7">
        <param name="type">dxl</param>
        <param name="ID">17</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl8">
        <param name="type">dxl</param>
        <param name="ID">21</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl9">
        <param name="type">dxl</param>
        <param name="ID">22</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl10">
        <param name="type">dxl</param>
        <param name="ID">23</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl11">
        <param name="type">dxl</param>
        <param name="ID">24</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl12">
        <param name="type">dxl</param>
        <param name="ID">25</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl13">
        <param name="type">dxl</param>
        <param name="ID">26</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl14">
        <param name="type">dxl</param>
        <param name="ID">27</param>
        <param name="Operating Mode">4</param>
        <param name="Current Limit">800</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl15">
        <param name="type">dxl</param>
        <param name="ID">31</param>  <!-- XL430 ID -->
        <param name="Operating Mode">3</param>  <!-- Position Control Mode -->
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <state_interface name="Present Input Voltage"/>
        <param name="Position P Gain">800</param>
        <param name="Profile Velocity">200</param> 
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl16">
        <param name="type">dxl</param>
        <param name="ID">32</param>  <!-- XL430 ID -->
        <param name="Operating Mode">3</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <state_interface name="Present Input Voltage"/>
        <param name="Position P Gain">800</param>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <!-- GRIPPERZZZ -->
      <gpio name="dxl17">
        <param name="type">dxl</param>
        <param name="ID">18</param>  <!-- XL430 ID -->
        <param name="Operating Mode">3</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <state_interface name="Present Input Voltage"/>
        <param name="Position P Gain">800</param>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
      <gpio name="dxl18">
        <param name="type">dxl</param>
        <param name="ID">28</param>  <!-- XL430 ID -->
        <param name="Operating Mode">3</param>
        <command_interface name="Goal Position"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Torque Enable"/>
        <state_interface name="Present Input Voltage"/>
        <param name="Position P Gain">800</param>
        <param name="Profile Velocity">200</param>
        <param name="Profile Acceleration">50</param>
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>