<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myrobot_description">

  <!-- Arguments -->
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="initial_positions_file" default="initial_positions.yaml"/>

  <!-- Include base URDF -->
  <xacro:include filename="$(find myrobot_description)/urdf/v5_URDF.urdf" />

  <!-- Include ros2_control wrapper -->
  <xacro:include filename="myrobot_description.ros2_control.xacro" />

  <!-- Always provide required arguments -->
  <xacro:myrobot_description_ros2_control
    name="DynamixelHardware"
    initial_positions_file="$(arg initial_positions_file)"
    use_fake_hardware="$(arg use_fake_hardware)"/>

</robot>