<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bimanual_panda">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import bimanual_panda urdf file -->
    <xacro:include filename="$(find moveit_resources_panda_description)/urdf/dual_panda.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="bimanual_panda.ros2_control.xacro" />


    <xacro:bimanual_panda_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
